{% extends "layout.html.twig" %}

{% block content %}
    <h2>Manage flitter test app</h2>

    <button id="get_lunch">What do we have for lunch?</button>

    <div id="lunch_results"></div>

    <a id="tweet_it" href="#">Tweet it</a>

    <script>
        $(document).ready(function () {
            $("#get_lunch").on("click", function () {
                $("#tweet_it").hide();
                $.get("/lunch", function (response) {
                    if (typeof response.success) {
                        var recipes = [];
                        $.each(response.recipes, function (i, recipe) {
                            recipes.push(recipe.title);
                        });
                        if (recipes.length) {
                            $("#lunch_results").text("We can do: " + recipes.join(" "));
                            $("#tweet_it").attr("href", "https://twitter.com/intent/tweet?text=My lunch menu today: "
                                + recipes.join(" ")
                            );
                            $("#tweet_it").show();
                        } else {
                            $("#lunch_results").text("Oops nothing to eat today.");
                        }

                    }
                })
            });
        });
    </script>
{% endblock %}

