<!DOCTYPE html>
<html>
<head>
    <title>{% block title '' %} - My Silex Application</title>

    <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css"/>
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>

    <!-- @todo move to css file. Leave it here so we don\'t need to set up a server. -->
    <style>

        #lunch_results {
            margin: 10px 0;
        }

        #tweet_it {
            display: none;
        }
    </style>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
